@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus+Sans", sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cantainer {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}