.banner {
    height: 100vh;
    background-image: url("/images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 480px){
        background-image: url("/images/banner-bg2.jpg");
    }
    
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-desc {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #FF9800;
        font-size: 36px;

        @media screen and (max-width: 866px){
            font-size: 24px;
        }

        @media screen and (max-width: 592px){
            font-size: 20px;
            color: #7e26a6;
            text-align: center;
        }
    }

    &-btn {
        padding: 12px 30px;
        border-radius: 30px;
        background-color: #FF9800;
        color: white;
        font-weight: 600;
        font-size: 15px;

        @media screen and (max-width: 592px){
            background-color: #7e26a6;
        }
    }
}