.cardMult {
    padding: 30px 0;
    z-index: 1;

    &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &-uz {
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 604px){
            display: none;
        }
    }

    &-title {
        border-left: 5px solid blueviolet;
        padding: 0 12px;
    }

    &-card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &-card-item {
        width: calc(290px - 30px);
        height: 330px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        box-shadow: 1px 1px 10px #999;
        background-color: white;
    }

    &-card-item-img {
        height: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-card-item-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 12px;
    }

    &-card-item-title {
        font-size: 16px;
        font-weight: 600;
        color: #7d26a6;
    }

    &-card-item-subtitle {
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 1px;
    }

    &-card-item-link {
        width: 100%;
        background-color: #7d26a6;
        padding: 8px 0;
        border-radius: 12px;
        color: white;
    }

    &-swiper {
        display: none;

        @media screen and (max-width: 604px){
            display: block;
        }
    }
}

.swiper.swiper-initialized.swiper-horizontal.mySwiper {
    z-index: 1;
}

.my-swiper {
    z-index: 1;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 60px;
    z-index: 1;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-button-prev, .swiper-button-next {
    color: black;
}